.logo {
  font-family: "Patua One", cursive;
  color: white;
  font-size: 2.5rem;
}
h2 {
  font-family: "Lato";
  color: white;
  font-size: 2rem;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.rating {
  color: orange;
  font-size: 3rem;
}
header {
  background-color: #0d47a1;
}
.check {
  color: green;
}
.cardHeader {
  color: steelblue;
  font-weight: bold;
}
.bgBlue {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(31, 31, 231, 1) 0%,
    rgba(0, 212, 255, 1) 72%
  );
}

.bgImage {
  background-image: url("./images/vanfleet-van.png");
}
.right-image {
  width: 60rem;
}
.upperSection {
  background-image: url("./images/vanfleet-plumber-illus.jpg");
}

.headerText {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}
.large-black-text {
  color: black;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  line-height: 2.7rem;
}
.large-white-text {
  color: white;
  font-size: 72px;
  font-family: "Lato", sans-serif;
}
.med-black-text {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}
.med-green-text {
  color: green;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1.5em;
  font-family: "Lato", sans-serif;
}
.med-yellow-text {
  color: yellow;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}
.large-white-text {
  color: white;
  font-size: 54px;
  font-family: "Lato", sans-serif;
  line-height: 1em;
}
.white-text {
  color: white;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}
.midsection {
  background-color: #01579b;
}
.navlinks {
  font-size: 1.2rem;
  color: white !important;
}
.tablehead {
  background-color: tomato;
  font-size: 1.5rem;
  color: white;
}
.highlight {
  font-weight: bolder;
}
.image_home {
  width: 600px;
  height: 400px;
}
.reset {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
.boxed {
  padding: 50px 80px !important;
}
